
<!-- il [formGroup] collega questo form all'oggetto che abbiamo bel loginform.component.ts 'loginForm' che ci permette
di gestirlo da typescript.
con (ngSumbit) diciamo al form quale metodo invocare alla pressione del tasto di submit -->
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <label for="username">USERNAME:</label>
    <input type="text" name="username" formControlName="username">
    <br>
    <label for="password">PASSWORD:</label>
    <input type="password" name="password" formControlName="password">
    <br>
    <input type="submit" value="Effettua login">
</form>